[package]
name = "cargo-wix"
description = "Build Windows installers using the WiX Toolset"
version = "0.2.0"
authors = ["Christopher Field <cfield2@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/volks73/cargo-wix"
documentation = "https://volks73.github.io/cargo-wix"
categories = ["development-tools"]
keywords = ["cargo-subcommand", "installer", "wix-toolset", "wix"]
homepage = "https://github.com/volks73/cargo-wix"
readme = "README.md"
edition = "2018"
exclude = ["/.travis.yml"]

[[bin]]
name = "cargo-wix"

[lib]
name = "wix"

[dependencies]
chrono = "0.4"
encoding_rs_io = "0.1"
env_logger = "0.7"
log = "0.4"
maplit = "1"
mustache = "0.9"
regex = "1"
semver = "0.9"
termcolor = "1"
toml = "0.5"
uuid = { version = "0.7", features = ["v4"] }
xml-rs = "0.8"

[dev-dependencies]
assert_fs = "0.11"
lazy_static = "1"
predicates = "1.0"
sxd-document = "0.3"
sxd-xpath = "0.4"

[dependencies.clap]
version = "2"
default-features = false
features = ["suggestions", "vec_map"]

[badges]
travis-ci = { repository = "volks73/cargo-wix" }
is-it-maintained-issue-resolution = { respository = "volks73/cargo-wix" }
is-it-maintained-open-issues = { respository = "volks73/cargo-wix" }

