<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
    xmlns:complus="http://wixtoolset.org/schemas/v4/wxs/complus"
    xmlns:dependency="http://wixtoolset.org/schemas/v4/wxs/dependency"
    xmlns:directx="http://wixtoolset.org/schemas/v4/wxs/directx"
    xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall"
    xmlns:http="http://wixtoolset.org/schemas/v4/wxs/http"
    xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis"
    xmlns:msmq="http://wixtoolset.org/schemas/v4/wxs/msmq"
    xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
    xmlns:powershell="http://wixtoolset.org/schemas/v4/wxs/powershell"
    xmlns:sql="http://wixtoolset.org/schemas/v4/wxs/sql"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
    xmlns:vs="http://wixtoolset.org/schemas/v4/wxs/vs"
    ></Wix>