<?xml version='1.0' encoding='windows-1252'?>
<!-- 
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product 
        Id='*' 
        Name='{{product-name}}'
        UpgradeCode='{{upgrade-code-guid}}' 
        Manufacturer='{{manufacturer}}'
        Language='1033' 
        Codepage='1252' 
        Version='$(var.Version)'>

        <Package Id='*' 
            Keywords='Installer' 
            Description='{{description}}'
            Manufacturer='{{manufacturer}}'
            InstallerVersion='450' 
            Languages='1033' 
            Compressed='yes' 
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <MajorUpgrade 
            Schedule='afterInstallInitialize' 
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='{{product-name}} Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='{{product-name}}'>
                    <Component Id='License' Guid='*' Win64='$(var.Win64)'>
                        <File 
                            Id='LicenseFile' 
                            Name='{{license-name}}'
                            DiskId='1' 
                            Source='{{license-source}}' 
                            KeyPath='yes'/>
                    </Component>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='{{path-component-guid}}' Win64='$(var.Win64)' KeyPath='yes'>
                            <Environment 
                                Id='PATH' 
                                Name='PATH' 
                                Value='[Bin]' 
                                Permanent='no' 
                                Part='last' 
                                Action='set' 
                                System='yes'/>
                        </Component>
                        <Component Id='{{binary-name}}Binary' Guid='*' Win64='$(var.Win64)'>
                            <File 
                                Id='{{binary-name}}EXE' 
                                Name='{{binary-name}}.exe' 
                                DiskId='1' 
                                Source='target\release\{{binary-name}}.exe' 
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature 
            Id='MainProgram' 
            Title='Application' 
            Description='Installs the executable and license.' 
            Level='1' 
            ConfigurableDirectory='APPLICATIONFOLDER' 
            AllowAdvertise='no' 
            Display='expand' 
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='{{binary-name}}Binary'/>
            <Feature 
                Id='Environment' 
                Title='PATH Environment Variable' 
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.' 
                Level='1' 
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!--
          Uncomment the next three lines to add a custom icon for the Add/Remove Programs.
        -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->
        <!--<Property Id='ARPHELPLINK' Value='{{help-url}}'/>-->

        <UIRef Id='WixUI_FeatureTree'/>
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <!-- 
          Uncomment the next three lines to customize the installer's Graphical
          User Interface (GUI). See the WiX Toolset documentation for details
          about customization. The banner BMP dimensions are 493 x 58 pixels.
          The dialog BMP dimensions are 493 x 312 pixels.
        -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->
    </Product>

</Wix>
